/* Conf */

html {

    --max-width: 711px; /* TODO: why is this different? */

    --header-font:       'Caprasimo', serif;
    --info-font:         'Bree Serif', serif;
    --console-font:      'Inconsolata', monospace;
    --console-font-bold: 'Inconsolata Bold', monospace;

    --transition-timing: 0.5s;

}


/* Base */

body {
    background-attachment: fixed;
    background-color: var(--primary-tone1);
    background-image: linear-gradient(180deg, var(--primary-shade1) 0% 0%, var(--primary-tone2) 100% 100%);
    box-sizing: border-box;
    font-size: 16px;
    /* prevent FOUC: */
    opacity: 1 !important;
    visibility: visible !important;
}

h1 {
    color: var(--secondary-tone2);
    font-family: var(--header-font);
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.4);
    font-size: 4rem;
    line-height: 72px;
    margin: 1.5rem 0 0.25rem;
}

    h1 span {
        display: inline-block;
        border-radius: 0.5rem;
        background-color: var(--primary-shade4-alpha2);
        vertical-align: 0.25rem;
    }

        h1 span img {
            display: inline-block;
            height: 60px;
            width: 60px;
            margin: 11px;
        }

.tagline {
    color: var(--secondary-tone3);
    font-family: var(--info-font);
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    padding: 0.5rem 1.5rem 0;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0.25rem 0;
}

footer {
    padding-bottom: 2rem;
}

    footer h2 {
        color: var(--secondary-tint2-alpha4);
        font-family: var(--info-font);
        font-size: 0.8rem;
        margin: 0;
        text-align: center;
    }

h2,
h3 {
    color: var(--primary-tint3);
}

h3 {
    margin: 1.25rem 0 0;
}

    h2 + h3 {
        margin-top: 0.75rem;
    }

    h3 + p {
        margin-top: 0.5rem;
    }

    ol h3 {
        margin: 1.25rem 0 0.75rem;
    }

    h2 + ol > li h3 {
        margin-top: 0.75rem;
    }

code {
    background-color: var(--primary-shade1-alpha1);
    border-radius: 0.25rem;
    white-space: nowrap;
    padding: 0.1rem 0.2rem;
}

    pre code {
        background-color: var(--primary-shade1-alpha3);
        display: block;
        font-size: 1rem;
        border: 2px solid var(--primary-tint1);
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: inset 2px 2px 6px rgba(0,0,0,0.3);
        margin-bottom: 1rem;
        white-space: pre;
        overflow-x: auto;
    }

    header code {
        background-color: var(--primary-shade4-alpha3);
    }

ol {
    margin: 0;
    padding: 0 0 0 1.25rem;
    color: var(--primary-tint3);
}

    ol li {
        margin: 0 0 1rem;
        padding: 0;
    }

    ol li .details {
        margin-left: -1rem;
        color: var(--grey-tint3);
    }

hr {
    border: none;
    border-bottom: 3px solid var(--primary-tint3-alpha4);
}

table {
    width: 100%;
    background-color: var(--primary-shade3);
    border: 2px solid var(--primary-tone2);
    border-collapse: collapse;
}

    table th {
        padding: 0.2rem;
    }

    table th {
        border-right: 2px solid var(--primary-tone2);
    }

    table tr:nth-child(2),
    table tr:nth-child(4) {
        background-color: var(--primary-shade2);
    }

    table table {
        background-color: transparent;
        border: none;
        text-align: center;
    }

        table table td + td {
            border-left: 2px solid var(--primary-tone1);
        }

/* Layout */

.console {
    background-color: var(--black-alpha1);
    border: 3px solid var(--secondary-tint1-alpha3);
    border-radius: 0.75rem;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    color: var(--primary-tint3);
    font-family: var(--info-font);
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 1.25rem auto 0;
    padding: 0.75rem 1.5rem;
}

    .console.info {
        color: var(--primary-tint2);
        padding: 0 1.5rem;
    }

    .console.colophon {
        font-family: var(--console-font);
    }

        .console.colophon a,
        .console.colophon strong {
            font-family: var(--console-font-bold);
        }

    .console h2 {
        margin: 0.5rem 0 0;
        border-bottom: 3px solid var(--primary-tint3-alpha4);
        padding-bottom: 0.5rem;
    }

    .console a {
        display: inline-block;
        color: var(--secondary-tone1);
        transition: background-color var(--transition-timing);
    }

    .console a:hover {
        background-color: var(--grey-shade3);
        border-radius: 4px;
        margin: -0.1rem -0.4rem -0.2rem;
        padding: 0.1rem 0.4rem 0.2rem;
    }

    .console a:active {
        scale: 0.97;
    }

.colophon {
    margin: 0.75rem auto 2.5rem;
}

footer h2 {
    margin-bottom: 0.75rem;
}

.tech-stack {
    list-style: none;
    margin: 0.25rem auto;
    padding: 0;
    width: fit-content;
}

    .tech-stack li {
        color: var(--secondary-tint1-alpha3);
        display: inline-block;
        font-family: var(--info-font);
        font-size: 0.8rem;
    }

        .tech-stack li a {
            background-color: var(--primary-shade1-alpha4);
            border-radius: 1em;
            color: var(--secondary-tint1-alpha3);
            display: inline-block;
            line-height: 2em;
            margin: 0 0.1rem;
            padding: 0 0.6rem;
            text-decoration: none;
            transition: background-color var(--transition-timing), box-shadow var(--transition-timing);
        }

        .tech-stack li a:hover {
            background-color: var(--primary-shade2-alpha3);
            box-shadow: 1px 1px 3px var(--primary-shade4-alpha3);
        }

        .tech-stack li a:active {
            scale: 0.97;
        }

#palette {
    margin: 1rem 0;
}


/* Scrollbars */

/* Fallback for WebKit */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-alpha4);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* Modern browsers */
@supports (scrollbar-width: auto) {
  * {
    scrollbar-color: var(--secondary-alpha4) transparent;
    scrollbar-width: thick;
  }
}
